.canvas-section {
	position: relative;
	padding-bottom: 75px;
}

.canvas-wrapper {
	width: 100%;
	// position: relative;

	.clear-btn-wrapper {
		position: absolute;
		right: 5px;
		bottom: 15px;
	}

	canvas {
		display: inline-block;
		border: 1px solid #ccc;
	}

	.tools {

		.color-pill {
			display: inline-block;
			margin: 10px 0 5px 15px;

			&:first-child {
				margin-right: 0;
			}

			span {
				display: block;
				width: 26px;
				height: 26px;
				border-radius: 50%;
			}
		}
	}
}

.login-wrapper {
	position: absolute;
	right: 40px;
	top: 40px;

	a {
		font-size: 16px;
		color: #fff;

		i {
			color: #fff !important;
			padding-left: 12px;
			margin-right: -5px;
		}
	}

	span {
		color: #fff;

		.user-name {
			font-weight: 600;
		}
	}
}

.us-players,
.them-players {
	position: relative;
	margin: 0 !important;
	width: 50% !important;
	padding: 5px 0 !important;
	overflow: hidden;

	&:after {
		content: ' ';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		transition: 60s linear;
	}

	&.active {

		&:after {
			right: 100%;
		}
	}

	img {
		position: relative;
		z-index: 10;
		margin: 0 10px;
	}

}

.us-players {
	background-color: rgba(46, 204, 113, 1);

	&:after {
		background-color: rgba(46, 204, 113, 1);

	}

	&.active {
		background-color: rgba(46, 204, 113, 0.5);
	}
}

.them-players {
	background-color: rgba(192, 57, 43, 1);

	&:after {
		background-color: rgba(192, 57, 43, 1);
	}

	&.active {
		background-color: rgba(192, 57, 43, 0.5);
	}
}
