.canvas-wrapper {
	width: 100%;
	position: relative;

	.clear-button {
		position: absolute;
		right: 15px;
		bottom: 15px;
	}

	canvas {
		display: inline-block;
		border: 1px solid #ccc;
	}

	.tools {

		.color-pill {
			display: inline-block;
			margin: 5px 0 5px 10px;

			&:first-child {
				margin-right: 0;
			}

			span {
				display: block;
				width: 20px;
				height: 20px;
				border-radius: 50%;
			}
		}
	}
}

.login-wrapper {
	position: absolute;
	right: 40px;
	top: 40px;

	a {
		font-size: 16px;
		color: #fff;

		i {
			color: #fff !important;
			padding-left: 12px;
			margin-right: -5px;
		}
	}

	span {
		color: #fff;

		.user-name {
			font-weight: 600;
		}
	}

}
