.canvas-wrapper {
  height: 400px;
  width: 100%; }
  .canvas-wrapper canvas {
    display: inline-block;
    display: inline-block;
    border: 1px solid #ccc;
    width: 100%; }

* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0; }

.wide {
  width: 100%; }

.tall {
  height: 100%; }

.app-container {
  position: relative; }
  .app-container .logo {
    margin: 0 auto;
    display: block;
    max-width: 85%; }
  .app-container:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 250px;
    background-color: #00bcd4;
    z-index: -1; }
  .app-container .content-container .chat-container {
    border-right: 1px solid #cccccc; }
