<html>
<head>
	<title>The paint hub</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css">
	<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
	<div id="mainContainer"></div>

	<!-- CDN Libs -->
	<script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>

	<!-- CDN Libs -->

	<!-- Local Libs -->
	<script type="text/javascript" src="/libs/jqScribble/jquery.jqscribble.js"></script>
	<script type="text/javascript" src="/libs/sketch/sketch.js"></script>

	<!-- /Local Libs -->

	<script type="text/javascript" src="/bundle.js"></script>
</body>
</html>